@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/Content/Style.css" type="text/css" />
</head>
<body>
    <div id="head">
        @ViewBag.Title
        <div id="links">
            <a href="/">New Paste</a>
            <a href="/pastes">Public Pastes</a>
            @if (Context.CurrentUser != null)
            {
                <text><a href="/pastes/own">Your Pastes</a></text>
            }
        </div>
    </div>
    <div id="cont">
        @RenderBody()
    </div>
</body>
</html>
