@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/Content/Style.css" type="text/css" />
</head>
<body>
    <div id="head">
        @ViewBag.Title
        <div id="links">
            <a href="/">Submit Paste</a>
            <a href="/pastes">Public Pastes</a>
        </div>
    </div>
    <div id="cont">
        @RenderBody()
    </div>
</body>
</html>
