@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    ViewBag.Title = Model.Title;
}

<table id="pastes">
    <thead>
        <tr>
            <td id="pastes-header-name">Post name</td>
            <td>Language</td>
            <td>Posted on</td>
            <td>Poster</td>
            @if (Context.CurrentUser != null)
            { 
                <text><td>Actions</td></text>
            }
        </tr>
    </thead>
    @foreach (var p in Model.Items) {
        <tr>
            <td><a href="/paste/id/@p._id">@p.Name</a></td>
            <td>@p.HighlightLanguage</td>
            <td>@p.Posted</td>
            <td>@p.UserName</td>
            @if (Context.CurrentUser != null)
            {
                <text>
                    <td>
                        <a href="/delete/id/@p._id">
                            Delete
                        </a>
                    </td>
                </text>
            }
        </tr>
    }
</table>